<style>img {
  margin-top: 0px;
  border-radius: 10px;
}

#app {
  position: absolute;
  top: 12px;
  left: 64px;
  color: #593e67;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  text-decoration: line-through;
}

body {

  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e7e8d1;
}

#back {
  position: absolute;
  top: 600px;
  left: 20px;
  font-size: 20px;
}



</style>